<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mortar &amp; Pestle</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400i,700,700i,900,900i|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="../Content/css/main.css">
    <script src="https://use.fontawesome.com/15c1261548.js"></script>
  </head>
  <body id="home">

    <div class="disclaimer">
      <h1>DISCLAIMER</h1>
      <p>We are not medical doctors therefore we cannot give medical advice. The information presented herein is not presented with the intention of diagnosing or treating any disease or condition. This information is for educational purposes only. No responsibility is assumed by the author nor anyone connected with this website for the use of this information and no guarantees of any kind are made for the performance or effectiveness of the recommendations provided.</p>
    <button type="button" name="button" id="agree">I agree</button>
    </div><!--End disclaimer-->
    <div class="container">
      <div class="nav-bar">
        <!--Start of Nav-Bar Div-->
        <div class="logo">
          <a href="../Views/search.html"><img src="" alt=""><h1>Mortar &amp; Pestle</h1></a>
        </div>

        <div class="mainNavDropDown">
          <ul class="links">
            <a href="/"><li>Home</li></a>
            <a href="/remedies"><li>Remedies</li></a>
            <a href="/ailments"><li>Ailments</li></a>
            <a href="#"><li>About Us</li></a>
          </ul>
        </div>

        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

      </div><!--End of Nav-Bar Div-->

      <div class="main-content"><!--Start of main content Div-->
        <div class="about-box">
          <div class="about-site">
            <h1>Find a Remedy that Works for <em>You</em></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <blockquote id="random_quote">

          </blockquote>
        </div>
        <div class="search">
          <form action="/" method="post">
            <div class="text-input">
              <p class="label">
                Search for remedies or ailments
              </p>
              <input type="text" name="search-field">
            </div>
            <!-- dropdown -->
            <select name="category">
              <option value="Disease">Ailments</option>
              <option value="Remedy">Remedies</option>
            </select>
            <button type="submit" name="search">Search</button>
          </form>
          @if(@Model["diseases"].Count != 0)
          {
            <div class="card-area">
             @foreach(var ailment in Model["diseases"])
              {
                <a href="/ailments/@ailment.GetId()">
                <div class="card">
                  <img src="@ailment.GetImage()" alt="ailment card" />
                  <div class="info">
                    <div class="details-title">
                      <span>@ailment.GetName()</span>
                    </div>
                    <div class="details-body">
                      <p>@ailment.GetSymtoms()</p>
                    </div>
                  </div>
                </div>
                </a>
              }
            </div>
          }

          @if(@Model["remedies"].Count != 0)
          {
            <div class="card-area">
             @foreach(var remedy in Model["remedies"])
              {
                <a href="/remedies/@remedy.GetId()">
                <div class="card">
                  <img src="@remedy.GetImage()" alt="remedy card" />
                  <div class="info">
                    <div class="details-title">
                      <span>@remedy.GetName()</span>
                    </div>
                    <div class="details-body">
                      <p>@remedy.GetDescription()</p>
                    </div>
                  </div>
                </div>
                </a>
              }
            </div>
          }
        </div>





      </div><!--End of main content Div-->
    </div><!-- end of container -->
    <script src="../Content/js/jquery-3.2.1.js"></script>
    <script src="../Content/js/scripts.js"></script>
  </body>
</html>
